#center_txt{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 4px #060d5b;
    color:white;
    background-image: url("https://fotokala.ee/pildid/700/1/18486.jpg");
    opacity:0.5;
    /*border: dotted black;*/
}
#center_txt:hover{
    opacity: 1;
}